@using Microsoft.Extensions.Options
@using CovidLetter.Frontend.WebApp.Configuration
@inject IOptions<SiteConfiguration> SiteConfiguration
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["title"];
    var emergencyHref = ViewBag.IsCoronavirusHelplineUser == true ? "?119=true" : "";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l" id="page-title">@ViewBag.Title</h1>

        <p>@Localizer["para1"]</p>
        <p>@Localizer["para2"]</p>
        <p>@Localizer["para3"]</p>

        <a href="@SiteConfiguration.Value.StartPage@emergencyHref" class="nhsuk-button" aria-description="@Localizer["tryAgainButtonLabel"]">
            @Localizer["tryAgain"]
        </a>
    </div>
</div>