@using CovidLetter.Frontend.WebApp.Configuration;
@using CovidLetter.Frontend.WebApp.Constants
@using CovidLetter.Frontend.WebApp.Services
@using Microsoft.Extensions.Options;

@inject ApplicationVersion Version
@inject IOptions<SiteConfiguration> SiteConfigurationOptions
@inject IViewLocalizer Localizer

@{
    var siteConfiguration = SiteConfigurationOptions?.Value;
}

<footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
        <div class="nhsuk-width-container nhsuk-u-clear">
            <ul class="nhsuk-footer__list" aria-label="@Localizer["supportLinks"]">
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="@siteConfiguration?.UnderSixteenPrivacyPolicyPage" target="_blank" rel="noopener noreferrer" aria-description="@Localizer["externalLinkNewTab"]">@Localizer["under16privacyPolicy"]</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="@siteConfiguration?.FiveToElevenPrivacyPolicyPage" target="_blank" rel="noopener noreferrer" aria-description="@Localizer["externalLinkNewTab"]">@Localizer["fiveToElevenPrivacyPolicy"]</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="@siteConfiguration?.PrivacyPolicyPage" target="_blank" rel="noopener noreferrer" aria-description="@Localizer["externalLinkNewTab"]">@Localizer["privacyPolicy"]</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" asp-action="CookiePolicy" asp-controller="@UIConstants.Home.HomeController" aria-description="@Localizer["internalLinkSameTab"]">@Localizer["cookiePolicy"]</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="@siteConfiguration?.HelpAndSupportPage" target="_blank" rel="noopener noreferrer" aria-description="@Localizer["externalLinkNewTab"]">@Localizer["helpAndSupport"]</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="@siteConfiguration?.DigitalAccessibilityStatementPage" target="_blank" rel="noopener noreferrer" aria-description="@Localizer["externalLinkNewTab"]">@Localizer["accessibility"]</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="@siteConfiguration?.TermsAndConditionsPage" target="_blank" rel="noopener noreferrer" aria-description="@Localizer["externalLinkNewTab"]">@Localizer["termsAndConditions"]</a>
                </li>
            </ul>
            <p class="nhsuk-footer__copyright">@Localizer["copyright"]</p>
            <p class="nhsuk-footer__copyright"><span class="nhsuk-u-visually-hidden">@Localizer["release"] </span>@Version.AssemblyInformationalVersion</p>
        </div>
    </div>
</footer>