@model NhsNumberViewModel
@using Microsoft.Extensions.Options
@using CovidLetter.Frontend.WebApp.Configuration
@using CovidLetter.Frontend.WebApp.Constants
@using CovidLetter.Frontend.WebApp.Services
@inject IOptions<SiteConfiguration> SiteConfiguration
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["title"];

    var knowsNhsNumber = Model.KnowsNhsNumber.GetValueOrDefault();
    var radioConditionalClass = knowsNhsNumber ? string.Empty : "nhsuk-radios__conditional--hidden";
    var backButtonModel = ViewServices.GenerateBackButtonModelUsingControllerAndAction("DateOfBirth", @UIConstants.Home.HomeController);
}

@section BackLink
{
    <partial name="_BackButton" model="backButtonModel"/>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <form asp-action="NhsNumber" method="post">
            @if (!ViewData.ModelState.IsValid)
            {
                <partial name="_NhsErrorSummary" />
            }

            <nhs-form-group>
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading" id="page-title">
                            @ViewBag.Title
                        </h1>
                    </legend>

                    <div class="nhsuk-hint" id="know-nhs-hint">
                        <p>@Localizer["hint1"]</p>
                        <p>@Localizer["hint2"]</p>
                    </div>

                    <span nhs-validation-for="KnowsNhsNumber"></span>

                    <div class="nhsuk-radios nhsuk-radios--conditional">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="KnowsNhsNumber" asp-for="KnowsNhsNumber" type="radio" value="true" aria-description="@ViewBag.Title" aria-controls="conditional-nhs-number">
                            <label class="nhsuk-label nhsuk-radios__label" for="KnowsNhsNumber">
                                @Localizer["knowsNhsNumber"]
                            </label>
                        </div>

                        <div class="nhsuk-radios__conditional @radioConditionalClass" id="conditional-nhs-number">
                            <nhs-form-group>
                                <label class="nhsuk-label" for="NhsNumber">@Localizer["nhsNumber"]</label>
                                <span nhs-validation-for="NhsNumber"></span>
                                <input class="nhsuk-input nhsuk-u-width-two-thirds" error-class-toggle="nhsuk-input--error" id="NhsNumber" asp-for="NhsNumber" type="text" aria-description="@ViewBag.Title" aria-required="true">
                            </nhs-form-group>
                        </div>

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="KnowsNhsNumberNo" asp-for="KnowsNhsNumber" type="radio" value="false" aria-description="@ViewBag.Title">
                            <label class="nhsuk-label nhsuk-radios__label" for="KnowsNhsNumberNo">
                                @Localizer["knowsNhsNumberNo"]
                            </label>
                        </div>
                    </div>
                </fieldset>
            </nhs-form-group>
            
            <partial name="_RequestingForSomeoneElse"/>

            <button id="continueButton" class="nhsuk-button" type="submit" aria-label="@Localizer["continueToNextPageLabel"]">
                @Localizer["continue"]
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <script nonce="@Context.Items["nonce"]">
        document.addEventListener("DOMContentLoaded", function() {
            /* event listeners to set the aria-label of the continue button dynamically */
            document.querySelector("#KnowsNhsNumber").addEventListener("change", function(e) {
                var continueButton = document.getElementById("continueButton");
                continueButton.setAttribute("aria-label", "@Localizer["continueToPostcodeLabel"]");
            });

            document.querySelector("#KnowsNhsNumberNo").addEventListener("change", function(e) {
                var continueButton = document.getElementById("continueButton");    
                continueButton.setAttribute("aria-label", "@Localizer["continueToNameLabel"]");
            });
        });
    </script>
}